/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color: hsl(268, 77%, 58%);
  --first-color-dark: hsl(268, 75%, 40%);
  --first-color-light: hsl(268, 100%, 83%);
  --title-color: hsl(0, 0%, 87%);
  --text-color: hsl(0, 0%, 69%);
  --body-color: hsl(200, 12%, 5%);
  --container-color: hsl(200, 10%, 8%);
  --border-color: hsl(0, 0%, 20%);
  --white: #fff;

  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: "Jost", sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 1.5rem;
  --larger-font-size: 1.2rem;
  --large-font-size: 1.125rem;

  /*========== Font weight ==========*/
  --weight-300: 300;
  --weight-400: 400;
  --weight-600: 600;
}
/*================== BASE ======================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
html {
  scroll-behavior: smooth;
}
input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--larger-font-size);
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
}
input,
textarea,
button {
  outline: none;
  border: none;
  background-color: transparent;
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--weight-600);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 6rem;
}
.section-title {
  font-size: var(--h1-font-size);
  font-weight: var(--weight-400);
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
.title-center {
  text-align: center;
  margin-bottom: 3rem;
}
/*=============== HEADER & NAV ===============*/
.header {
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 3px 9px hsla(0, 0, 0, 0.05);
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.nav-logo {
  color: var(--first-color);
  font-size: var(--h2-font-size);
  text-decoration: underline;

  line-height: 1;
  border-radius: 5px 10px 0px 0;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
.nav-link {
  color: var(--title-color);
  border-bottom: 1px solid var(--title-color);
  transition: 0.4s all ease;
}
/* Active link */
.active-link,
.nav-link:hover {
  color: var(--first-color-light);
  border-color: var(--first-color-light);
}
/*==================About Me======================*/
.about {
  background-color: var(--container-color);
  height: 100vh;
  padding-top: 15rem;
}
.about-cont {
  grid-template-columns: 8fr 4fr;
  align-items: center;
}
.about-small {
  font-size: var(--large-font-size);
  letter-spacing: 1px;
  color: var(--first-color);
}
.about-title {
  font-size: var(--big-font-size);
  line-height: 1.4;
}
.about-title span {
  font-weight: 300;
}
.about-desc {
  padding-inline-end: 4rem;
  margin-block: 2rem;
}
.about-desc:before {
  content: "\f10d";
  font-family: fontawesome;
  font-size: 2rem;
  color: var(--first-color);
}

.about-btns {
  display: flex;
  gap: 1rem;
}
.about-btns .btn-normal {
  background-color: var(--first-color);
  color: var(--title-color);
  padding: 0.5rem;
  border: 1px solid var(--first-color);
  border-radius: 0.5rem;
  width: 150px;
  text-align: center;
}
.btn-darker {
  background-color: var(--first-color-dark);
  color: var(--title-color);
  padding: 0.5rem;
  border: 1px solid var(--first-color-dark);
  border-radius: 0.5rem;
  width: 150px;
  text-align: center;
}
.btn-lighter {
  background-color: var(--first-color-light);
  color: var(--border-color);
  padding: 0.5rem;
  border: 1px solid var(--first-color-light);
  border-radius: 0.5rem;
  width: 150px;
  text-align: center;
}
.about-img-wrapper img {
  animation: animate-img 6s ease-in-out infinite;
  border: 3px solid var(--first-color);
}
@keyframes animate-img {
  0% {
    border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
  }
  50% {
    border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
  }
  100% {
    border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
  }
}
/*===================Skills======================*/
.skills {
  background-color: var(--body-color);
}
.skills-main-title {
  color: var(--first-color-dark);
}
.skills-cont {
  grid-template-columns: repeat(3, 1fr);
  grid-row: 4rem;
}
.skill-bar,
.skill-percentage {
  height: 2px;
}
.skill-bar {
  background-color: var(--border-color);
  margin-inline: 1rem;
}
.skill-percentage {
  background-color: var(--first-color);
  position: relative;
}
.skill-percentage span {
  position: absolute;
  border: 2px var(--first-color) solid;
  background-color: var(--border-color);
  top: -0.75rem;
  right: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.skills-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills-item {
  border: 1px var(--border-color) solid;
  padding-block: 2rem;
  border-radius: 5px;
  background-color: var(--container-color);
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
  cursor: default;
}
.skills-titles,
.skill-desc {
  padding-inline: 1.5rem;
}

.skill-name {
  font-size: var(--larger-font-size);
}

.skills-no {
  color: var(--title-color);
  font-size: var(--larger-font-size);
  font-weight: var(--weight-600);
}

.skill-desc {
  margin-block: 1rem 1.8rem;
}
/*===============Portfolio=====================*/
.work-cont {
  grid-template-columns: repeat(3, 1fr);
}
.works {
  background-color: var(--container-color);
}
.work-card {
  position: relative;
  cursor: pointer;
}
.work-img {
  vertical-align: middle;
}
.work-details {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.5);
  transition: all 0.4s ease;
  backdrop-filter: blur(3px);
  opacity: 0;
}
.work-img,
.work-details {
  border-radius: 5px;
}

.work-title {
  font-size: var(--h3-font-size);
}
.work-title,
.work-desc {
  color: var(--white);
  transform: translateY(1.5rem);
  transition: 0.3s ease all;
}
.work-desc {
  font-size: var(--larger-font-size);
}
/*=======hover=======*/
.work-card:hover .work-details {
  opacity: 1;
}
.work-card:hover :is(.work-title, .work-desc) {
  transform: translateY(0);
}
/*===============Contact============================*/
.contact-form {
  width: 800px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input {
  background-color: var(--container-color);
  height: 50px;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  font-weight: 300;
  color: var(--title-color);
}
#subject {
  width: 450px;
}
textarea {
  width: 450px;
  background-color: var(--container-color);
  resize: none;
  border-radius: 5px;
  margin-block: 0.5rem;
  padding: 1rem;
  font-weight: 300;
  color: var(--title-color);
}
.form-btn {
  border: 2px solid var(--first-color-dark);
  width: 200px;
  text-align: center;
  padding: 5px;
  font-weight: var(--weight-600);
  border-radius: 5px;
  margin-block: 0.5rem;
  font-weight: 500;
}
